<div class="container mb-5">
  <div class="row">
    <form (submit)="editRestoFromDb()" class="col-md-6 offset-md-3">
      <h2 class="display-4 display-5 mt-5 mb-4">Register a Restaurant:</h2>
      <div class="form-group">
        <label>Restaurant Name</label>
        <input 
          class="form-control"
          type="text" 
          name="name"
          required 
          minlength="3" 
          [(ngModel)]="editRestaurant.name"
          #name="ngModel"
          (change)="showErrors = false"
          value="editRestaurant.name"
        >
        <div *ngIf="duplicatError.length > 0" class="small text-danger">{{duplicatError}}</div>
        <div *ngIf="name.errors && (name.dirty || name.touched) || showErrors">
          <div *ngIf="name.errors.required" class="small text-danger">Name must not be blank</div>
          <div *ngIf="name.errors.minlength" class="small text-danger">Name must contain at least 3 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label>Cuisine</label>
        <input 
          class="form-control"
          type="text" 
          name="cuisine"
          required 
          minlength="3" 
          [(ngModel)]="editRestaurant.cuisine"
          #cuisine="ngModel"
          (change)="showErrors = false"
          value="editRestaurant.cuisine"
        >
        <div *ngIf="cuisine.errors && (cuisine.dirty || cuisine.touched) || showErrors">
          <div *ngIf="cuisine.errors.required" class="small text-danger">Cuisine must not be blank</div>
          <div *ngIf="cuisine.errors.minlength" class="small text-danger">Cuisine must contain at least 3 characters</div>
        </div>
      </div>
      <a (click)="closeForm($event)" class="btn btn-danger mr-2 text-white">Cancel</a>
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
</div>
